version: '3'
services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
      
  api:
    image: python:latest
    build: ./api
    command: python app.py
    environment:
      - DB_HOST=db
      - DB_PASSWORD=secret123
      
  db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: